@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding: 2rem;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}
:root{
    --main-color: seagreen;
    --second-color: #c6dd33;
    --text-color: antiquewhite;
    --gradient: linear-gradient(#263727,#c6dd33)
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #354E37;
    padding: 15px 100px;
}
.logo img{
    width: 50px;
}
.navbar {
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a ::after{
    content: '';
    width: 100%;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in {
    background: seagreen;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
    background: #dcc99d;
}
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(img/CS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.contact{
    min-height: 100vh;
    padding: 200px;
    background-color: seagreen;
    text-align: justify;
}
.container{
    max-width: 800px;
    margin:0 auto ;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 120%;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: antiquewhite;
    color: #333;
}
button{
    display: inline-block;
    padding: 15px 24px;
    background-color: #354E37;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 0.5rem;
}
button:hover{
    background-color: #dcc99d;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
margin-bottom: 10px;
color: antiquewhite;
}
.contact-info i{
    margin-right: 10px;
}
@media screen and(max-width: 768px) {
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
    
}
