@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3A4D39;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #EBE3CE;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    background: #fff;
}

.container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #3A4D39;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px black;
    font-size: small;
}

.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info{
    position: relative;
    margin: 20px 0;
    color: #fff;
}

.container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .pro-links {
    list-style: none;
    margin-right: 15px;
    color: #fff;
    justify-content: space-between;
    cursor: pointer;
}

.container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px black;
}

.container .contactForm h2 {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: black;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.container .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span {
   transform: translateY(-20px);
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 1px;
   color:#3A4D39;
   font-weight: 500; 
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    background: #3A4D39;
    color: #fff;
}
.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: greenyellow;
    color: black;
}

/* Responsive Design */
@media (max-width : 1200px) 
{
    .container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px black;
        flex-direction: column;
    }

    .contactInfo {
        top: 0;
        height: 250px;
        position: relative;
        box-shadow: none;
        margin-top: 0px;
    }

    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0px;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width : 991px) 
{
    section {
        background: #EBE3CE; 
    } 
    section::before {
        display: none;
    } 
    .container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -30%;
    }
    .container .contactForm {
        width: 100%;
        height: auto;
        padding: 50px;
        box-shadow: none;
    }
    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        margin-top: 70%;
        box-shadow: none;
        padding: 25px;

    }
    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: c;
    }
}

@media (max-width : 600px)
{

    .container .contactForm {
        padding: 50px;
    }

    .container .contactForm .formBox .inputBox input[type="submit"] {
        margin-top: 0;
        width: 90px;
        align-items: center;
        margin-left: 79%;
        font-size: small;
    }
    .container .contactInfo {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 100%;
    }
    .container .contactInfo ul.sci {
        margin-top: 100px;
    }
    
}