*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* :root{
    --main-color: #3A4D39;
    --second-color: #c6dd33;
    --text-color: #fff;
    --gradient: linear-gradient(#263727,#c6dd33)
} */
/* scroll bar */
html ::-webkit-scrollbar{
    width: 0.5rem;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #3A4D39;
    border-radius: 5rem;
}

/* .nav{
    background-color: #3A4D39;
    display: flex;
}

.logo img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 180px;
}

.menuNav{
    position: relative;
    left: 170px;
}

.menuNav ul li{
    display: inline;
    text-decoration: none;
}

.menuNav ul li a{
    margin: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.menuNav ul li button{
    color: #fff;
    border-radius: 5px;
    background-color:#739072 ;
    width: 70px;
    height: 40px;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.main1 {
    width: 100%;
    height: 550px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.banner {
    display: flex;
    transition: transform 0.5s ease-in;
}

.slider {
    min-width: 100%;
    box-sizing: border-box;
}

.slider img {
    width: 100%;
    height: 50%;
}

@keyframes slide {
    0%, 100% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
}

.banner {
    animation: slide 40s infinite; 
}


.box {
    border: 1px solid black;
    width: 700px;
    height: 180px;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    z-index: 2;
    background-color: aliceblue;
    border-radius: 10px;
    transform: translateX(-50%);
    text-align: center; 
}

.bus,.car {
    margin: auto;
}


.box img {
    width: 200px;
} 

.box a:hover img {
    filter: brightness(50%);
  }

.why_us{
    margin-top: 40px;
    margin-bottom: 20px;
}
.why_us h1{
    text-align: center;
    color: #3A4D39;
    margin-bottom: 40px;
    
}
.why_us .boxwhy{
    margin: auto;
    text-align: center;
    justify-content: center;
}
.boxwhy{
    display: flex;
    width: 50%;
}

.why1, .why2, .why3{
    margin: 0px 40px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}


.why1:hover, .why2:hover, .why3:hover{
    transform: scale(1.1);
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}

.why1 img, .why2 img, .why3 img{
    width: 60px;
    height: 60px;
    margin: 0 60px;
}

.latest h3{
    color: #3A4D39;
    margin-bottom: 130px;
    margin-left: 20px;
}

.latest{
    width: 100%;
}

.boxlatest{
    width: 85%;
    margin: 20px auto;
}

.boxlatest .title{
    width: 60%;
    color: #3A4D39;
}

.latest-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.latest-cards .card{
    width: 100%;
    position: relative;
}

.imglatest img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.content{
    padding: 15px 20px;
}

.content h4{
    font-size: 24px;
    color: #222;
    font-weight: 500;
}

.content p {
    color: #7e7e7e;
    font-size: 15px;
}

.content a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #3A4D39;
    padding: 8px 15px;
    border-radius: 5px;
    
}

.content a:hover{
    transform: scale(1.1);
    background: yellowgreen;
  }

.card .posted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color:#c6dd33 ;
    padding: 6px 15px;
}

@media screen and (max-width:992px){
    .main1{
        height: 250px;
    }

    .box{
        width: 80%;
        height: auto;
    }
   
    .boxwhy{
        display: grid;
        width: 80%;
        margin: auto;
    }

    .why1, .why2, .why3{
        margin-bottom: 10px;
    }

    .latest-cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px){
    .latest-cards{
        grid-template-columns: 1fr;
    }
}