*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --main-color: #3A4D39;
    --second-color: #c6dd33;
    --text-color: #fff;
    --gradient: linear-gradient(#263727,#c6dd33)
}
/* scroll bar */
html ::-webkit-scrollbar{
    width: 0.5rem;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

/* .nav{
    background-color: #3A4D39;
    display: flex;
}

.logo img {
    width: 100px;
    height: 100px;
    position: relative;
    right: 180px;
}

.menuNav{
    position: relative;
    left: 170px;
}

.menuNav ul li{
    display: inline;
    text-decoration: none;
}

.menuNav ul li a{
    margin: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.menuNav ul li button{
    color: #fff;
    border-radius: 5px;
    background-color:#739072 ;
    width: 70px;
    height: 40px;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.main1 {
    width: 100%;
    height: 550px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.banner {
    display: flex;
    transition: transform 0.5s ease-in;
}

.slider {
    min-width: 100%;
    box-sizing: border-box;
}

.slider img {
    width: 100%;
    height: 50%;
}

@keyframes slide {
    0%, 100% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
}

.banner {
    animation: slide 40s infinite; 
}


.box {
    border: 1px solid black;
    width: 700px;
    height: 180px;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    z-index: 99;
    background-color: aliceblue;
    border-radius: 10px;
    transform: translateX(-50%);
    text-align: center; 
}

.bus,.car {
    margin: auto;
}


.box img {
    width: 200px;
} 

.box a:hover img {
    filter: brightness(50%);
  }

.why_us{
    margin-top: 40px;
    margin-bottom: 20px;
}
.why_us h1{
    text-align: center;
    color: #3A4D39;
    margin-bottom: 40px;
    
}

.boxwhy{
    display: flex;
    width: 700px;
    margin-left: 220px;
    text-align: center;
}

.why1, .why2, .why3{
    margin: 0px 40px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}


.why1:hover, .why2:hover, .why3:hover{
    transform: scale(1.1);
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}

.why1 img, .why2 img, .why3 img{
    width: 60px;
    height: 60px;
    margin: 0 60px;
}

.latest h3{
    color: #3A4D39;
    margin-bottom: 130px;
    margin-left: 20px;
}

.boxlatest{
    display: flex;
    margin-left: 220px;
}
.boxlatest .latest1, .boxlatest .latest2, .boxlatest .latest3{
    margin: 0px 20px;
    border: 1px solid black;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    border-radius: 20px;
} 

.boxlatest img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}


