*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 100px;
    background: #3A4D39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.nav .logo img{
    height: 6rem;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;
    left: 250px;
}

.navbar a:hover{
    background: #739072;
    border-radius: 5px;
    padding: 10px 10px;
}

.login{
    padding: 10px 20px;
    background: #739072;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.login:hover{
    transform: scale(1.1);
    background: yellowgreen;
}


footer {
   background-color: #3A4D39;
   position: relative;
   width: 100%;
   min-height: 50px;
   padding: 1rem 1rem;

}

.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright {
   font-size: smaller; 
   color: #fff; 
   margin-top: 10px; 
   text-align: left;
}

.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 20px;
}

.col{
   /* min-width: 250px; */
   color:#fff;
   font-family: Montserrat, sans-serif ;
   margin-right: auto;
   
}
.col .logo{
   width: 100px;
   margin-bottom:0px;
}

.col h3{
   color: #fff;
   margin-bottom: 5px;
   position: relative;
   cursor: pointer;
   font-size: medium;
}
.col h3::after{
   content: '';
   height:2px;
   width:0px;
   background-color: #fff;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:#fff;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color: #fff;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
   font-size: small;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: yellowgreen;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color: yellowgreen;
}
 .col .contact-details{
   justify-content: space-between;
   font-size:small ;
   margin: 5px;
}

/*
.col .contact-details i{
   margin-right:15px;
   font-size: medium;
} */


/********** Responsive Design ********/

@media (max-width: 700px) {
   .nav {
       padding: 1px 10px; /* Sesuaikan padding header untuk tampilan mobile */
   }

   .navbar {
       flex-direction: column; /* Susun link navbar dalam satu kolom untuk tampilan mobile */
       align-items: flex-start; /* Sesuaikan penataan link navbar untuk tampilan mobile */
   }

   .navbar a {
       margin: 5px 0; /* Sesuaikan margin link navbar untuk tampilan mobile */
   }

   .row{
       flex-direction: column;
   }
   .col{
       width: 100%;
       text-align: left;
       margin-bottom: 20px;
   }
       }