@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  /* --max-width: 1200px; */
}

/* scroll bar */
html ::-webkit-scrollbar{
  width: 0.5rem;
}
html ::-webkit-scrollbar-track{
  background: transparent;
}
html ::-webkit-scrollbar-thumb{
  background: #3A4D39;
  border-radius: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.section__container {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 1rem;
}


a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EBE3CE;
}

.header {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  background: #EBE3CE;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #3A4D39;
}

.logo img {
  width: 100px;
  height: auto; 
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sideBar {
  display: none;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.link a:hover {
  background: #739072;
  border-radius: 5px;
  padding: 10px 10px;
}

.login{
  padding: 10px 20px;
  background: #739072;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
}
.login:hover{
  transform: scale(1.1);
  background: yellowgreen;
}

.header__container {
  padding: 5rem 1rem 10rem;
  height: 18rem;
}

/* Menambahkan box banner*/
.box {
  border: 2px solid black;
  width: 800px;
  height: 200px;
  position: relative;
  left: 50%;
  z-index: 99;
  background-color: #EBE3CE;
 
  transform: translate(-50%, -50%);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.box img {
  width: 300px;
  height: 5%;
  margin: 0px 70px;
}

.section__container .box a:hover img {
  filter: brightness(50%);
}

.container_desc {
  background-color: #3A4D39; /* Warna hijau */
  color: #fff; /* Warna teks putih */
  padding: 20px; /* Ruang dalam container */
  margin-bottom: 0px;
}

.container_desc h1{
  padding: 20px 20px 0px 20px;
}

.container_desc p{
  padding: 20px 20px 100px 20px;
}

.container_mobil {
  display: flex;
  justify-content: space-around; /* Atur ruang di sekitar item agar berdampingan */
  margin-top: 0px;
}

.container_sedan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  width: 35%; /* Atur lebar agar tidak terlalu lebar */
  margin-top: 14px; 
}

.container_SUV {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  width: 35%; /* Atur lebar agar tidak terlalu lebar */
}

.container_sedan img, .container_SUV img {
  width: 90%;
}


.container_SUV .half-image {
  margin-top: 15px; /* Jarak antara gambar dan teks di container_SUV */
}

.container_mobil button {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  background-color: #3A4D39;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: yellowgreen;
}

a {
  text-decoration: none;
  color: #fff;
}

.container_mobil ul{
  color: black;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
}
.container_mobil ul::after{
  content: '';
  height:2px;
  width:0px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;

}
.container_mobil ul:hover::after{
  width:30px
}

.container_mobil li{
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
  font-size: medium;
  cursor: pointer;
}
.container_mobil li:hover::before{
  opacity: 1;
}
.container_mobil li:hover{
  transform: translateX(-8px);
  color: #3A4D39;
  font-weight: bold;
}


/* footer */
footer {
  background-color: #3A4D39;
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 1rem 1rem;
}

.container {
   /* display: flex; */
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.copyright {
  font-size: smaller; 
  color: #fff; 
  margin-top: 10px; 
  text-align: left;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 20px; */
}

.col{
  /* min-width: 250px; */
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;
  margin-left: 10px;
  
}
.col .logo{
  width: 100px;
  margin-bottom:0px;
}

.col h3{
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  font-size: medium;
}
.col h3::after{
  content: '';
  height:2px;
  width:0px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;

}
.col h3:hover::after{
  width:30px
}
.col .social a i{
  color:#fff;
  margin-top:2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover{
  transform: scale(1.5);
  filter:grayscale(25);
}
.col .links a{
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
  font-size: small;
}
.col .links a::before{
  content:'';
  height: 16px;
  width:3px;
  position: absolute;
  top:5px;
  left:-10px;
  background-color: yellowgreen;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before{
  opacity: 1;
}
.col .links a:hover{
  transform: translateX(-8px);
  color: yellowgreen;
}

.col .contact-details{
  justify-content: space-between;
  font-size:small ;
  margin: 5px;
}

.col .contact-details i{
  margin-right:5px;
  font-size: small;
}

@media (max-width < 1200px) {

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .btn {
    margin-left: 0px;
  }
}

/* Media queries untuk tablet (misalnya, iPad) */
@media screen and (max-width: 768px) {
  .section__container {
    padding: 3rem 2rem;
  }

  .header__container {
    padding: 3rem 1rem 3rem;
  }

  .header__container h1 {
    font-size: 2rem;
    margin-top: 90px;
  }

  .input__group {
    margin: 5px;
  }
  .row {
    flex-direction: column;
  }

  .sideBar i{
    display: none;
  }

  .btn {
    margin-left: 0px;
  }

  .box img {
    width: 70%;
  }
  .box {
    width: 90%;
    margin-top: 9rem;
  }

}

/* Media queries untuk ponsel */
@media screen and (max-width: 680px) {

  .nav__links {
    display: none;
  }

  .nav__links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 50%;
    background-color: #3A4D39;
    z-index: 1;
    margin-top: 2%;
    height: 250px;
    margin-left: 50%;
  }

  .nav__links.active a {
    display: block;
    padding: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-align: right;
  }

  .row{
    flex-direction: column;
}

  .header__form form {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
  }

  .section__container {
    padding: 2rem 1rem;
  }

  .header__container {
    padding: 1px;
  }

  .header__container h1 {
    font-size: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
   .row {
    flex-direction: column;
   }

   .sideBar {
    display: inline-flex;
    color: #fff;
    width: 30px;
    size: 30px;
    cursor: pointer;
   }

   .sideBar i{
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 10px;
    margin: -15px 0px 0px 5px;
    font-size: x-large;
   }

   .nav__links.active li {
    display: block;
    width: fit-content;
    margin: 5px auto 0 auto;
    text-align: right;
    transition: 0.5s;
    opacity: 1;
    font-size: small;
   }

   .nav__links.active ul li a {
    margin-bottom: 10px;
    color: #3D5F3B;
   }

   .box img {
    width: 90%;
    margin-left: 16px;
  }
  .box {
    width: 90%;
    margin-top: 9rem;
  }
}

